<!DOCTYPE html>
<html>
  <head>
    <title>rabbit2 - base64</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1">
  </head>
  <body>

    script.
      function copyPageUrl() {
        try {
          navigator.clipboard.writeText("!{encodedString}");
        } catch (err) {
          console.error('Failed to copy: ', err);
        }
      }

    button(
      onClick='copyPageUrl()'
      autofocus
    ) Copy

    p
      !=encodedString

  </body>
</html>
