<!DOCTYPE html>
<html>
  <head>
    <title>rabbit2 - Jira</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1">
  </head>
  <body>

    script.
      var jiraProjNum = #{issueNumber};
      var jiraProjKey = prompt('What is your JIRA project key?');

      if (jiraProjKey) {
        location.href = location.origin + '/?jira ' + jiraProjKey + jiraProjNum;
      }

  </body>
</html>
