<!DOCTYPE html>
<html>
  <head>
    <title>rabbit2 - Available commands (list)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1">
  </head>
  <body>

    // b: i 10 Most Popular Commands
    // br
    // <b>list</b> used 1 times (show the list of methods you can use or search that list)
    // hr

    <b><i>All Commands</i></b>
    <table>

      each cmd in cmds
        <tr>
          <td>
            <b>
              =cmd.name
            </b>
          </td>
          <td>
            <code>
              =cmd.usage
            </code>
            <span style="color:grey;">
              !=cmd.desc
            <span>
          </td>
        </tr>

    </table>
  </body>
</html>
