<!DOCTYPE html>
<html>
  <head>
    <title><%= cmdObj.name %>: <%= cmdObj.summary %> - rabbit2 (<%= cmdObj.id %>)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="<%= cmdObj.description %>">
    <!-- <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" /> -->
    <link rel="icon" type="image/png" href="https://cdn.glitch.global/5e92aa22-41c0-46d4-ad32-8b64ab0c2c94/icon-38.png?v=1666132036315" />
  </head>
  <body>
